<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Discernatron!</title>
            <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
                <script src="/vendor/html5shiv.min.js"></script>
                <script src="/vendor/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <p class="navbar-brand" href="#">Discernatron!</p>
                </div>
                {% if user is defined %}
                    <div id="navbar-collapse-1" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed in as {{ user.nickname }}<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('random_query') }}">Score Results</a></li>
                                    <li><a href="{{ path('instructions') }}">Instructions</a></li>
                                    <li><a href="{{ path('import_query') }}">Import Query</a></li>
                                    <li><a href="{{ path('scores') }}">Scores</a></li>
                                    <li><a href="{{ path('logout') }}">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.navbar-collapse-1 -->
                {% endif %}
            </div>
        </nav>
        <div id="content">
            {% block content_container %}
                <div class="container">{% block content %}{% endblock %}</div>
            {% endblock %}
        </div>

        <div id="footer">{% block footer %}{% endblock %}</div>
        {% block js %}
            <script src="/vendor/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
