{% extends "layout.twig" %}

{% block content %}
    <h3>Scores</h3>

    <dl class="dl-horizontal">
        <dt>wiki</dt>
        <dd>{{ query.wiki }}</dd>
        <dt>query</dt>
        <dd>{{ query.query }}</dd>
        <dt>krippendorff's alpha</dt>
        <dd>{{ alpha }}</dd>
    </dl>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>title</td>
                <td>your score</td>
                <td>avg score</td>
                <td>num scores</td>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
                <tr>
                    <td>{{ score.title }}</td>
                    <td>{% if score.user_score is null %}unrated{% else %}{{ score.user_score }}{% endif %}</td>
                    <td>{% if score.score is null %}unrated{% else %}{{ score.score }}{% endif %}</td>
                    <td>{{ score.num_scores }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
