{% extends "layout.twig" %}

{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="errors">
                {% for error in errors %}
                    <p class="bg-danger">{{ error.message }}</li>
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block choice_label %}
    {# no label, our form will just use buttons #}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="/js/scoring.js"></script>
{% endblock %}

{% block content %}
    {% if saved %}
        <p class="bg-success">Saved score for query</p>
    {% endif %}

    <div class="row">
        <h3>Query to score</h3>
        <dl class="dl-horizontal col-md-8 col-xs-8">
            <dt>Wiki</dt>
            <dd>{{ query.wiki }}</dd>
            <dt>Query</dt>
            <dd>{{ query.query }}</dd>
        </dl>
        <div class="col-md-4">
            {{ form(skipForm) }}
        </div>
    </div>

    <noscript>
        <div class="errors hidden-md hidden-lg">
            <p class="bg-danger">Discernatron requires javascript on mobile devices</p>
        </div>
    </noscript>

    <div class="row">
        <h3>Scoring Guidelines</h3>
        <dl class="dl-horizontal">
            <dt class="irrelevant">Irrelevant</dt>
            <dd>Results that have no relationship to the query</dd>
            <dt class="maybe">Maybe Relevant</dt>
            <dd>Undesirable results that have some relationship to the query</dd>
            <dt class="probably">Probably Relevant</dt>
            <dd>Related and possibly the answer to query, but not certainly. Results found towards the bottom of the result page.</dd>
            <dt class="relevant">Relevant<dt>
            <dd>A result you expect to find in the top 5 for the provided query</dd>
        </dl>
    </div>

    <div class="row"><h3>Results</h3></div>

    <div class="row">
        <a class="btn btn-default hidden show-all-snippets">Show all snippets</a>
        <a class="btn btn-default hidden hide-all-snippets">Hide all snippets</a>
    </div>

    <form method="post" novalidate>
        {{ form_errors(form) }}
        {{ form_widget(form._token) }}

        {% for child in form %}
            {% if child.vars.name != '_token' %}
                <div class="result">
                    <div class="row border-xs border-sm">
                        <h5 class="click-for-next col-md-3 col-xs-9">
                            <!-- Default hidden, javascript will manage them" -->
                            <span class="glyphicon glyphicon-chevron-down show-snippet hidden"></span>
                            <span class="glyphicon glyphicon-chevron-up hide-snippet hidden"></span>
                            {{ child.vars.label }}
                            <small>
                                <a href="{{ baseWikiUrl }}/{{ child.vars.label|url_encode }}" target="_blank">link</a>
                            </small>
                        </h5>
                        {% for choice in child %}
                            <div class="col-md-2 hidden-xs hidden-sm click-for-next">
                                {{ form_label(choice) }}
                                {{ form_widget(choice) }}
                            </div>
                        {% endfor %}
                        <div class="hidden-md hidden-lg rating col-md-2 click-for-next text-center"></div>
                    </div>
                    <div class="row snippet">
                        <blockquote class="col-md-9">
                            <p>{{ results[child.vars.name].snippet|highlight_snippet }}</p>
                        </blockquote>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="row">
            <input type="submit" class="btn btn-default" />
        </div>
    </form>
{% endblock %}

