{% extends "layout.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/deck.css">
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        window.scoringData = {
            'saved': JSON.parse('{{saved|json_encode|e('js')}}'),
            'query': JSON.parse('{{query|json_encode|e('js')}}'),
            'results': JSON.parse('{{resultsList|json_encode|e('js')}}'),
            'baseWikiUrl': JSON.parse('{{baseWikiUrl|json_encode|e('js')}}'),
        };
    </script>
    <script src="/js/hammer.js"></script>
    <script src="/js/tweenlite.js"></script>
    <script src="/js/tweenlite.cssplugins.js"></script>
    <script src="/js/tweenlite.easepack.js"></script>
    <script src="/js/discernadeck.js"></script>
{% endblock %}

{% block content %}
    <div class='skip-query-container'>
        {{ form(skipForm, {'attr': {'class': 'skip-query'}}) }}
    </div>

    <noscript>
        <div class="errors">
            <p class="bg-danger">Discernatron requires javascript for the card interface</p>
        </div>
    </noscript>

    <form class="score-query" method="post" novalidate>
        {{ form_widget(form._token) }}
        {% for child in form %}
            {% if child.vars.name != '_token' %}
                <input class="result-score" type="text" id="result_{{child.vars.name}}" name="{{child.vars.full_name}}" value="{{child.vars.value}}" data-id="{{child.vars.name}}">
            {% endif %}
        {% endfor %}
        <div class="row">
            <input type="submit" class="btn btn-default" />
        </div>
        <div class="error">
            {{ form_errors(form) }}
        </div>
    </form>

    <div class="row">

        <div class="info">
            <small class="query-label">query</small>
            <h1 class="query">{{ query.query }}</h1>
        </div>
    
        <div class="stack-position">
    
            <div class="card-deck"></div>
    
            <div class="stack"/>
                <div class="deck-counter-description">
                    <span class="deck-counter">{{ resultsList|length }}</span>
                    cards left in this deck.
                </div>
            </span>
    
            <div class="drop-area irrelevant" data-score="0">
                <span class="drop-area-label"> Irrelevant </span>
                <p class="drop-area-description">
                    Results that are not relevant to the query.
                </p>
            </div>
            <div class="drop-area maybe-relevant" data-score="1">
                <span class="drop-area-label"> Maybe relevant </span>
                <p class="drop-area-description">
                    Undesirable results that have some relationship to the query.
                </p>
            </div>
            <div class="drop-area probably-relevant" data-score="2">
                <span class="drop-area-label"> Probably relevant </span>
                <p class="drop-area-description">
                    Related and possibly the answer to query, but not certainly. Results found towards the bottom of the result page.
                </p>
            </div>
            <div class="drop-area relevant" data-score="3">
                <span class="drop-area-label"> Relevant </span>
                <p class="drop-area-description">
                    A result is Relevant if you would expect to find it in the top 5 results for a query. Use this ranking sparingly.
                </p>
            </div>
        </div>    
    </div>
{% endblock %}

