{% extends "layout.twig" %}

{% form_theme form _self %}

{% block choice_label %}
    {# no label, our form will just use buttons #}
{% endblock %}


{% block head %}
    {{ parent() }}
    <style type="text/css">
        .search-match {
            font-weight: bold;
        }
        .search-result {
            padding-bottom: 2em;
        }
    </style>
{% endblock %}

{% block content %}
    {% if saved %}
        <p class="bg-success">Saved score for query</p>
    {% endif %}

    <h3>Score Result</h3>
    <div class="search-result">
        <dl class="dl-horizontal">
            <dt>Wiki</dt>
            <dd><a href="{{ wikiBaseUrl }}">{{ result.wiki }}</a></dd>
            <dt>Query</dt>
            <dd><a href="{{ wikiBaseUrl }}Special:Search?fulltext=search&search={{ result.query }}">{{ result.query }}</a></dd>
            <dt>Page Title</dt>
            <dd><a href="{{ wikiBaseUrl }}{{ result.title }}">{{ result.title }}</a></dd>
        </dl>
    </div>

    <form action='#' method="post">
        {{ form_row(form._token) }}
        {% macro option(score, label, class) %}
            <button type="submit" class="btn btn-default {{ class }}" name="form[score]" value="{{ score }}">
                {{ label }}
            </button>
        {% endmacro %}
        {{ _self.option(0, 'Irrelevant', 'btn-danger') }}
        {{ _self.option(1, 'Maybe Relevant', 'btn-warning') }}
        {{ _self.option(2, 'Probably Relevant', 'btn-info') }}
        {{ _self.option(3, 'Relevant', 'btn-success') }}
    </form>
{% endblock %}
