{% extends "layout.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/deck.css">
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        window.scoringData = {
            'saved': JSON.parse('{{saved|json_encode|e('js')}}'),
            'query': JSON.parse('{{query|json_encode|e('js')}}'),
            'results': JSON.parse('{{resultsList|json_encode|e('js')}}'),
            'baseWikiUrl': JSON.parse('{{baseWikiUrl|json_encode|e('js')}}'),
        };
    </script>
    <script src="/js/hammer.js"></script>
    <script src="/js/tweenlite.js"></script>
    <script src="/js/tweenlite.cssplugins.js"></script>
    <script src="/js/tweenlite.easepack.js"></script>
    <script src="/js/discernadeck.js"></script>
{% endblock %}

{% block content %}

    <noscript>
        <div class="errors">
            <p class="bg-danger">Discernatron requires javascript for the card interface</p>
        </div>
    </noscript>

    <div class="row">

        <div class="info">

            <div class="query-info">
                <span class="section-label">Your query:</span><span class="query">{{ query.query }}</span>

                <div class="deck-counter-description">
                    <span class="deck-counter">{{ resultsList|length }}</span>
                    cards left in this deck.
                </div>

            </div>

            <div class="query-actions">


                <div class="query-links">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <span class="query-links-label">Search this query</span>
                    <div class="query-links-content" style="display:none">
                        <a class="search-icon icon-ddg" href="https://duckduckgo.com/?q={{ query.query }}" target="_blank">
                            <img src="/img/duckduckgo.svg"/>
                        </a>
                        <a class="search-icon icon-goog" href="https://www.google.com/?q={{ query.query }}" target="_blank">
                            <img src="/img/google.svg"/>
                        </a>
                        <a class="search-icon icon-yahoo" href="https://search.yahoo.com/search?p={{ query.query }}" target="_blank">
                            <img src="/img/yahoo.svg"/>
                        </a>
                        <a class="search-icon icon-bing" href="http://www.bing.com/search?q={{ query.query }}" target="_blank">
                            <img src="/img/bing.svg"/>
                        </a>
                    </div>
                </div>

                <div class='query-form-container'>
                    <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
                    {{ form(skipForm, {'attr': {'class': 'skip-query'}}) }}
                </div>

                <form class="score-query" method="post" novalidate>
                    {{ form_widget(form._token) }}
                    {% for child in form %}
                        {% if child.vars.name != '_token' %}
                            <input class="result-score" type="text" id="result_{{child.vars.name}}" name="{{child.vars.full_name}}" value="{{child.vars.value}}" data-id="{{child.vars.name}}">
                        {% endif %}
                    {% endfor %}

                    <span class="glyphicon glyphicon-eye-open"></span><button type="submit" class="btn btn-default switch-ui" name="cards" value="0">Switch to classic</button>
                    <input type="submit" class="btn btn-default submit-scores" value="Submit scores" id="submit-score-btn" disabled />

                    <small id="remaining-card-counter">
                        At least x cards must be ranked to submit this query.
                    </small>

                    {% if showErrors %}
                        <div class="error">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>

        <div class="stack-position">

            <div class="card-deck"></div>

            <div class="stack"/></div>

            <div class="drop-area irrelevant" data-score="0">
                <span class="drop-area-label"> Irrelevant </span>
                <p class="drop-area-description">
                    Results that are not relevant to the query.
                </p>
            </div>
            <div class="drop-area maybe-relevant" data-score="1">
                <span class="drop-area-label"> Maybe Relevant </span>
                <p class="drop-area-description">
                    Undesirable results that have some relationship to the query.
                </p>
            </div>
            <div class="drop-area probably-relevant" data-score="2">
                <span class="drop-area-label"> Probably Relevant </span>
                <p class="drop-area-description">
                    Related and possibly the answer to query, but not certainly. Results found towards the bottom of the result page.
                </p>
            </div>
            <div class="drop-area relevant" data-score="3">
                <span class="drop-area-label"> Relevant </span>
                <p class="drop-area-description">
                    A result is Relevant if you would expect to find it in the top 5 results for a query. Use this ranking sparingly.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

